@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  width: 95%;
  border-radius: 2rem;
  padding: 2rem;
  height: 100%;
  z-index: 1;
}

body {
  font-family: "Baloo Bhai 2", cursive;
}
